<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Valoración</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-searchbar disabled="true" placeholder="2022"></ion-searchbar>
  <ion-list>
    <ion-item>
      <ion-select aria-label="fruit" placeholder="Selecciona la pelicula a valorar...">
        <ion-select-option value="4 mitades">4 mitades</ion-select-option>
        <ion-select-option value="Apolo 10 1/2: Una infancia espacial">Apolo 10 1/2: Una infancia espacial</ion-select-option>
        <ion-select-option value="Blonde">Blonde</ion-select-option>
        <ion-select-option value="Cangrejo negro">Cangrejo negro</ion-select-option>
        <ion-select-option value="El asedio de Silverton">El asedio de Silverton</ion-select-option>
        <ion-select-option value="El extraño">El extraño</ion-select-option>
        <ion-select-option value="El gato caco">El gato caco</ion-select-option>
        <ion-select-option value="El Monstruo marino">El Monstruo marino</ion-select-option>
        <ion-select-option value="El páramo">El páramo</ion-select-option>
        <ion-select-option value="Garra">Garra</ion-select-option>
        <ion-select-option value="Golpe de suerte">Golpe de suerte</ion-select-option>
        <ion-select-option value="La La matanza de Texas">La matanza de Texas</ion-select-option>
        <ion-select-option value="Metal Lords">Metal Lords</ion-select-option>
        <ion-select-option value="Múnich en vísperas de una guerra">Múnich en vísperas de una guerra</ion-select-option>
        <ion-select-option value="Puñales por la espalda: El misterio de Glass ">Puñales por la espalda: El misterio de Glass </ion-select-option>
        <ion-select-option value="Onion">Onion</ion-select-option>
        <ion-select-option value="Revancha ya">Revancha ya</ion-select-option>
        <ion-select-option value="Sin novedad en el frente">Sin novedad en el frente</ion-select-option>
        <ion-select-option value="Trol">Trol</ion-select-option>
        <ion-select-option value="Wendell y Wild">Wendell y Wild</ion-select-option>
        
      </ion-select>
    </ion-item>
  </ion-list>
  <form>
      <ion-item lines="full">
      <ion-label position="floating">Comentarios</ion-label>
      <ion-input type="Text input" required></ion-input>
    </ion-item>
    <ion-row>
      <ion-col>
        
        <ion-button [routerLink]="['/manitoarriba']" expand="block" color="success">Manito Arriba</ion-button>
        <ion-button [routerLink]="['/manitoabajo']" expand="block" color="dark">Manito Abajo</ion-button>
        <ion-button [routerLink]="['/home']" expand="block" color="dark">Cancelar</ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>